body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.hero-unit {
  text-align: center;
  margin: 0 auto;
  padding: 30px;
}

.hero-unit h1 {
  font-size: 30px;
  font-weight: 300;
  color: #000;
  margin-bottom: 30px;
}

.hero-unit p {
  font-size: 20px;
  font-weight: 300;
  color: #000;
  margin-bottom: 30px;
}

.hero-unit form {
  padding: 30px;
}

.hero-unit form.form-signin {
  margin-bottom: 30px;
}

.hero-unit form.form-control {
  margin-bottom: 30px;
}

.hero-unit form.form-control:focus {
  outline: none;
}
