body {
    background-color: #f5f5f5;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col:first-child {
    padding-right: 0;
}

.col:last-child {
    padding-left: 0;
}

.col-2 {
    width: calc(50% - 15px);
}

.col-3 {
    width: calc(33.33% - 15px);
}

.col-4 {
    width: calc(25% - 15px);
}

.col-5 {
    width: calc(20% - 15px);
}

.col-6 {
    width: calc(16.66% - 15px);
}

.col-7 {
    width: calc(14.29% - 15px);
}

.col-8 {
    width: calc(12.5% - 15px);
}

.col-9 {
    width: calc(11.11% - 15px);
}

.col-10 {
    width: calc(10% - 15px);
}

.col-11 {
    width: calc(9.09% - 15px);
}

.col-12 {
    width: calc(8.33% - 15px);
}
